* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: black;
  background-image: url('/background.jpg');
  background-repeat: repeat;
  color: white;
  min-height: 100vh;
}

button {
  border: none;
  background-color: initial;
   &:focus {
     outline: none;
   }
}