@import 'variables';

@font-face {
  font-family: $icomoon-font-family;
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6lrrhd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6lrrhd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6lrrhd#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: $font-main;
  src: url('pastor_of_muppets-webfont.woff2') format('woff2'),
       url('pastor_of_muppets-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
